{#
/**
 * @file
 * WooCommerce-style single product template
 * Mimics WooCommerce single product page layout
 */
#}

<div{{ attributes.addClass('woocommerce-product-page') }}>
  <div class="woocommerce-container">

    <div class="woocommerce-product-layout">

      {# Product Gallery #}
      <div class="woocommerce-product-gallery">
        {% if product_entity.field_image is defined and product_entity.field_image.value %}
          <div class="woocommerce-product-images">
            {% for image in product_entity.field_image %}
              <div class="woocommerce-product-image">
                <img src="{{ file_url(image.entity.uri.value) }}"
                     alt="{{ image.alt ?: product_entity.title.value }}"
                     class="wp-post-image">
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="woocommerce-product-image-placeholder">
            <div class="placeholder-content">
              <span class="placeholder-icon">📷</span>
              <p>No image available</p>
            </div>
          </div>
        {% endif %}
      </div>

      {# Product Summary #}
      <div class="woocommerce-product-summary">

        {# Product Title #}
        <h1 class="woocommerce-product-title">{{ product_entity.title.value }}</h1>

        {# Product Price #}
        {% if product_entity.field_price is defined and product_entity.field_price.value %}
          <p class="woocommerce-price">
            {% for price in product_entity.field_price %}
              <span class="woocommerce-price-amount">
                <span class="woocommerce-price-currency-symbol">
                  {% if price.currency_code == 'USD' %}$
                  {% elseif price.currency_code == 'EUR' %}€
                  {% elseif price.currency_code == 'GBP' %}£
                  {% elseif price.currency_code == 'INR' %}₹
                  {% elseif price.currency_code == 'JPY' %}¥
                  {% elseif price.currency_code == 'AUD' %}A$
                  {% elseif price.currency_code == 'CAD' %}C$
                  {% elseif price.currency_code == 'CHF' %}CHF
                  {% else %}{{ price.currency_code }}
                  {% endif %}
                </span>
                <span class="woocommerce-price-number">{{ price.number|number_format(2, '.', '') }}</span>
              </span>
            {% endfor %}
          </p>
        {% endif %}

        {# Short Description #}
        {% if product_entity.body is defined and product_entity.body.summary %}
          <div class="woocommerce-product-excerpt">
            {{ product_entity.body.summary|raw }}
          </div>
        {% endif %}

        {# Add to Cart Form #}
        <div class="woocommerce-cart-form">
          {{ product_add_to_cart_form }}
        </div>

        {# Downloads Section #}
        {% if product_entity.field_download_file is defined and product_entity.field_download_file.value %}
          <div class="woocommerce-product-downloads">
            <h3>Downloads</h3>
            <div class="download-links">
              {% for file in product_entity.field_download_file %}
                <a href="{{ file_url(file.entity.uri.value) }}"
                   class="download-link"
                   download>
                  <span class="download-icon">📥</span>
                  <span class="download-text">{{ file.entity.filename.value }}</span>
                  <span class="download-size">({{ file.entity.filesize.value|number_format(0, '.', ',') }} bytes)</span>
                </a>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>

    </div>

    {# Product Description #}
    {% if product_entity.body is defined and product_entity.body.value %}
      <div class="woocommerce-product-description-section">
        <h2>Description</h2>
        <div class="woocommerce-product-description">
          {{ product_entity.body.value|raw }}
        </div>
      </div>
    {% endif %}

    {# Additional Information #}
    {% if product_entity.field_download_file is defined and product_entity.field_download_file.value %}
      <div class="woocommerce-product-additional-info">
        <h2>Additional Information</h2>
        <table class="woocommerce-product-attributes">
          <tbody>
            <tr>
              <th>Downloads</th>
              <td>
                <ul>
                  {% for file in product_entity.field_download_file %}
                    <li>{{ file.entity.filename.value }} ({{ file.entity.filesize.value|number_format(0, '.', ',') }} bytes)</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endif %}
</div>